@charset "UTF-8";
/* CSS Document */

  body{
        background-color: #59E90D;
		margin: 0px;
	  	padding: 0px;
                 
      }
  
.containers{
	
	height: 400px;
	 
}


.boxes{
	 
	width: 100%;
	
}







